* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root,
:root.light {
    --bgColor: #c3cfe2;
    --cardColor: #e0e5ec;
    --h1Color: #1E2A47;
    --youTubeColor: #e0e5ec;
    --spotifiyColor: ##c3cfe2;

}

:root.dark {
    --bgColor: #1E2A47;
    --cardColor: #2A3E5A;
    --h1Color: #fff;
    --youTubeColor: #FF0000;
    --spotifiyColor: #1DB954;

}

#themeChanger {
    appearance: none;
    background: url("../imgs/icon-sun.svg");
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#themeChanger:checked {
    background: url("../imgs/icon-moon.svg");
}

body {
    font-family: monospace;
    background-color: var(--bgColor);

    h1 {
        color: var(--h1Color);
    }

    p {
        color: var(--h1Color);
    }

    h2 {
        color: var(--h1Color);
    }

    .inputDiv {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;

        gap: 10px;

        .searchInput {
            width: 200px;
            border: none;
            border-radius: 20px;
            font-weight: bold;
            padding-left: 10px;
        }
    }

    header {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;



        .colorChangeBtnTxt {
            width: 10%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10%;
            font-size: 10px;
        }

        .titleWithImg {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 20px;
            padding-top: 20px;
        }

        .title {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            h1 {
                color: var(--h1Color)
            }
        }

        .posterImgDiv {
            width: 190px;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: all 0.5s ease-in-out;



            &:hover {
                transform: scale(1.1);
                border: 5px solid #dbe9ff;
            }
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }




    }

    section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 20px 0 20px 0;

        .card {
            width: 20%;
            height: 450 px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: var(--cardColor);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            padding: 10px;
            gap: 10px;
            transition: all 0.5s ease-in-out;

            &:hover {
                transform: scale(0.9);
            }

            .cardImg {
                width: 100%;
                height: 200px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: #9e9c9c;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px 5px 0 0;
                }
            }

            .genre {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: flex-start;
                gap: 5px;

                .p1 {
                    width: 40%;
                    height: 100%;
                    background-color: #FFDD57;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    text-align: center;
                    font-weight: bold;
                }

                .p2 {
                    width: 40%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #57C3FF;
                    border-radius: 20px;
                    text-align: center;
                    font-weight: bold;
                }
            }

            .movieTittle {
                width: 100%;
                height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                h2 {
                    font-size: medium;
                    opacity: 0.5;
                }
            }

            .line {
                width: 100%;
                height: 1px;
                background-color: #000;
            }

            .youtubeSpotifyDiv {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;

                .youtubeIcon {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    background-color: var(--youTubeColor);
                    border-radius: 50%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .spotifyIcon {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    background-color: var(--spotifiyColor);
                    border-radius: 50%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}